/** {
	border: solid;
}
*/
/* generic styles */

body {
	font-family: "open sans", sans-serif;
	width: 800px;
	margin: 0 auto;
	padding: 10px;
	position: relative;
	font-size:16px;
}

.error {
	color: red;
}

a {
	color: grey;
}


/* element styles */

header a.main-title {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    float: left;	
}

header a {
	font-size: 16px;
	text-decoration: none;
}

header .authorize {
	color: gray;
	float: right;
}

header .edit_history, .edit_view, .history, .view {
	color: grey;
	float: right;
	margin-right: 30px;
}

br.clear {
	clear: both;
}

#page {
	border: 1px dashed grey;
	padding: 10px;
	width: 800px;
	min-height: 300px;
}

#edit textarea {
	width: 800px;
	height: 300px;
}

#login thead {
	font-size: 25px;
}

#login .login_label {
	width: 150px;
}

#signup thead {
	font-size: 25px;
}

#signup .signup_label {
	width: 150px;
}

#history {
	width: 810px;
	border: 0px;
	border-collapse: collapse;
}

#history .table-created {
	width:210px;
}

#history .history-cell {
	width: 40px;
	font-size: 16px;
}

#history tbody {
	vertical-align: top;
}

footer {
	margin-top: 20px;
	font-size: 15px;
}


