<!DOCTYPE html>

<html>
	<head>
		<title>Wiki</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<header>
			<a href="/" class="main-title">
				<img src="/images/wikipedia_logo.png">
			</a>

			<!-- user is logged in -->
			{% if user %}

				<nav>
					
					<!-- buttons visible on all pages -->
					<div class="authorize">
						{{user.username}} (<a href="/logout">logout</a>)
					</div>

					<!-- buttons visible on page.html and edit.html -->
					{% if main %}
					<div class="edit_history">
						<a href="/_edit{{path}}">edit </a>
						|
						<a href="/_history{{path}}"> history</a>	
					</div>
							
					{% endif %}

					<!-- buttons visible on page history.html -->
					{% if history %}
					<div class="edit_view">
						<a href="/_edit{{path}}">edit</a>
						|
						<a href="{{path}}">view</a>
					</div>			
					{% endif %}



				</nav>
			
			<!-- user is logged out -->
			{% else %}

				<nav>
					<!-- buttons visible on all pages -->			
					<div class="authorize">
						<a href="/login">login</a>
						|
						<a href="/signup">signup</a>
					</div>

					<!-- buttons visible on page.html and edit.html -->
					{% if main %}
					<div class="history">
						<a href="/_history{{path}}">history</a>
					</div>
								
					{% endif %}

					<!-- buttons visible history.html -->
					{% if history %}
					<div class="view">
						<a href="{{path}}">view</a>		
					</div>
					{% endif %}

				</nav>

			{% endif %}

		</header>
		<br class="clear"/>
		
		{% block content %}
		{% endblock %}

		<footer>
			&copy; Stijn Blommerde
		</footer>
				
	</body>
	
</html>